<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First_Meet_Vue</title>
    <!-- introduce vue.js -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <h2>Name List</h2>
        <input type="text" placeholder="input name"v-model='keyword'>
        <ul>
            <li v-for="person in filpersons" :key="person.id">
                {{person.name}}-{{person.age}}-{{person.gender}}
            </li> 

    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false //阻止生产提示
    

    // 用 watch 实现
/*     const vm = new Vue({
        data(){
            return{
                keyword:'',
                persons:[
                    {id:'001',name: '马冬梅',age: 18,gender:'女'},
                    {id:'002',name: '周冬雨',age: 17,gender:'女'},
                    {id:'003',name: '周杰伦',age: 21,gender:'男'},
                    {id:'004',name: '温兆伦',age: 17,gender:'男'},
                ],
                filpersons:[]
            }
        },
        methods:{
            showInfo(){
                
            }
        },
        watch:{
            // 简写
            // keyword(val){
            //     this.persons = this.persons.filter((person)=>{   //filter 会返回一个全新数组， persons并没有被改变， 页面也不会变
            //         return person.name.indexOf(val) !== -1       // 若输入框为空，则全部匹配，因为都包含空字符串。
            //     })
            // }

            // 完整写法
            keyword:{
                immediate: true,      // 一开始没有val， 则为空字符串， 空字符串则filPersons全部显示。
                handler(val){
                    this.filpersons = this.persons.filter((person)=>{ 
                    return person.name.indexOf(val) !== -1
                    })
                },
            }
        }
    }) */
    
    // 用 computed 实现
    const vm = new Vue({
        data(){
            return{
                keyword:'',
                persons:[
                    {id:'001',name: '马冬梅',age: 18,gender:'女'},
                    {id:'002',name: '周冬雨',age: 17,gender:'女'},
                    {id:'003',name: '周杰伦',age: 21,gender:'男'},
                    {id:'004',name: '温兆伦',age: 17,gender:'男'},
                ],
            }
        },
        computed:{
            filpersons(){
                return this.persons.filter((person)=>{
                    return person.name.indexOf(this.keyword) !== -1
                })
            }
        }
    })
    vm.$mount('#root')
</script>

</html>