<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First_Meet_Vue</title>
    <!-- introduce vue.js -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <form>
            <label for="userAccount">UserAccount:</label>
            <input type="text" id="userAccount" v-model.trim="account">
            <hr>
            <label for="userPassword">UserPassword:</label>
            <input type="text" id="userPassword" v-model="password">
            <hr>
            <label>Gender:</label>
            <br>
            <label for="male">Male</label>
            <input type="radio" id="male" name="gender" v-model="gender" value="male">
            <label for="userPassword">Female</label>
            <input type="radio" id="female" name="gender" v-model="gender" value="female">
            <hr>
            <label>Hobby:</label>
            <br>
            <label for="sleeping">sleeping</label>
            <input type="checkbox" value="sleeping" name="sleeping" v-model="hobby">
            <label for="shopping">shopping</label>
            <input type="checkbox" value="shopping" name="shopping" v-model="hobby">
            <hr>
            Institution:
            <select v-model="city">
                <option value="">Select your Institution</option>
                <option value="beijing">Beijing</option>
                <option value="shanghai">Shanghai</option>
                <option value="shenzhen">Shenzhen</option>
            </select>
            <hr>
            Other info:
            <textarea v-model="other"></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false //阻止生产提示
    
    const vm = new Vue({
        data(){
            return{
                account:'',
                password:'',
                gender:'',
                hobby:[],
                city:'',
                other:'',
            }
        },
        methods:{
            showInfo(){
                
            }
        }
    })
    vm.$mount('#root')
</script>

</html>